body {
    background-color: #F8EAE8;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;

    position: relative;
}

#file-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}
#image-preview {
    display: none;
}
#file-input {
    width: 300px;
    height: 300px;
    cursor: pointer;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}
#file-label span {
    font-size: 50px;
    line-height: 1.5;
}

#file-label {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 300px;
    border: 4px solid #F1B4BB;
    background-color: #1F4172;
    border-radius: 10px;
    font-size: 50px;
    text-align: center;
    line-height: 300px;
    cursor: pointer;
    /*이미지 입력하는 네모*/
}

#file-label::before{
    content:"+";
    position: absolute;
    font: size 24px;
    color: #F1B4BB;
    /* 큰 네모 플러스*/
}

#file-label:before {
    display: block;
}

.check_button {
    position:relative;
    width: 50px; 
    height: 50px;
    margin-top: 10px;
    width: 310px;
    height: 50px;
    box-sizing: border-box;
    border: 4px solid #F1B4BB;
    background-color: #1F4172;
    border-radius: 10px;
    cursor: pointer;
    color:#F1B4BB
    /*검사하기 네모*/

}
.check_button img{
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    max-height: 100%;
    display: block;
}

.check_button span{
    z-index: 1;
    position: relative;
}

.main_title {
    text-align: center;
    font-size: 37px;
    color: #F1B4BB;
    font-weight: 900;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #1F4172;
    /* 제목*/
    
}

#button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}
.buttonbox {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#refresh-button {
    border: 0;
    outline: none;
    width: 100px;
    border: 4px solid #F1B4BB;
    background-color: #1F4172;
    color:#F1B4BB;
    border-radius: 10px;
    font-size: 20px;
    margin: auto;
    padding: 10px;
    cursor: pointer;
}
#plus-button {
    border: 0;
    outline: none;
    width: 100px;
    border: 4px solid #F1B4BB;
    background-color: #1F4172;
    color:#F1B4BB;
    border-radius: 10px;
    font-size: 20px;
    margin: auto;
    padding: 10px;
    cursor: pointer;
}
#result-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#result {
    margin: auto;
    margin-top: 20px;
    width: 300px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 4px solid #F1B4BB;
    background-color: #1F4172;
    color:#F1B4BB;
    border-radius: 10px;
    color:#F1B4BB;
}

#explanation-box{
    margin: auto;
    margin-top: 20px;
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 4px solid #F1B4BB;
    background-color: #1F4172;
    color:#F1B4BB;
    border-radius: 10px;
    color:#F1B4BB;
}